.App {
  text-align: center;
  
}

header {
  color: #1DB954;
  background-color: #dbd7d2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-size: 20px
}

body {
  background-image: url('../src/images/background-pic.png'); 
  background-size: 100%;
}

.logout,.login {
  background-color: #5adbff;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.tracklistSection {
  background-color: grey;
  height: 100%;
}

.playlistSection {
  background-color: grey;
}